/*=== 工作台 ===*/
ul {
	margin:0px;
	list-style:none;   
}
li {
	margin-top:4px;
	margin-bottom:4px;
	color:#666666;
}
#deskBox{
	padding:5px 0 0 5px;
}
#deskTitle {
	border:#999 1px solid;
	border-bottom:0px;
	background:#ccc;
	padding:5px 5px 5px 10px;
	font-size:14px;
	text-align:left;
}
#deskPanel {
	border:#999 1px solid;
	text-align:left;
	background-color:#fff;
	height:420px;
	padding-bottom:20px;
}

/* 欢迎语 */
#topWords{
	font-size:14px;
	font-weight:500;
	padding:5px;
	margin:10px;
	color:#666;
}
#topWords td{
	font-size:14px;
	font-weight:600;
}

/* 行 */
.guideDiv{
	padding:10px 10px 5px 10px;
}

/* 功能块样式 */
.guideLayer, .guideLayerDis{
	margin-left:15px;
	padding:10px 10px 10px 68px;
	width:45%;
	text-align:left;
	vertical-align:top;
	cursor:pointer;
	color:#666;
	font-size:14px;
	font-weight:600;
}
/* 功能块样式 */
.guideLayerDis{
	cursor:default;
	color:#999;
}